{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<div class="container">
    <div class="row text-center">
        {% for user in users %}
            <div class="col-12 col-lg-4 text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{user.photo}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{user.nom}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}