{% extends 'base.html.twig' %}


{% block title %} Portfolio {% endblock %}

{% block body %}

{{dump(reponse.results)}}

        <div class="container">
            <div class="row">

                {% for movie in reponse.results %}

                    <div class="col-12 col-lg-4 text-center">
                        {{movie.title}}<br />
                        <a href="{{path('article',{'id':movie.id})}}"><img src="http://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="" class="w-100 mb-5"></a> <br/>                    
                    </div>

                {% endfor %}
            </div>
        </div>

{% endblock %}